@CHARSET "ISO-8859-1";
#animationCanva{
	height: 200px
}

.redCube{
	background-color: red;
	position: absolute;
	display: inline;
	float: left;
}

.centerDiv{
	z-index: 1001;
	position: absolute;
	text-align: center;
}

.backScreen{
	z-index: 1000;
	position: absolute;
	left:0;
	top:0;
	background-color: rgb(120,120,120);
	width: 100%;
}